{% extends "app/base.html" %}
{% load static %}

{% block title %}Buy Now{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-3 border-end">
      <h3>Welcome {{ request.user.username|capfirst }}</h3>
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="#" class="btn btn-primary">Go to Profile</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 offset-sm-1 text-center">
      <h3 class="text-success">Password Changed Successfully !!!</h3>
      <iframe 
        src="https://giphy.com/embed/ibolle3mOgHE3PQTk" 
        width="200" 
        height="200" 
        frameborder="0" 
        class="giphy-embed">
      </iframe>
    </div>
  </div>
</div>
{% endblock main-content %}
